@model BookingApplication.Models.SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<h4>Apartment</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="People" class="control-label"></label>
                        <input asp-for="People" class="form-control" />
                        <span asp-validation-for="People" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Beds" class="control-label"></label>
                        <input asp-for="Beds" class="form-control" />
                        <span asp-validation-for="Beds" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MinRate" class="control-label"></label>
                        <input asp-for="MinRate" class="form-control" />
                        <span asp-validation-for="MinRate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MinStars" class="control-label"></label>
                        <input asp-for="MinStars" class="form-control" />
                        <span asp-validation-for="MinStars" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MaxNightPrice" class="control-label"></label>
                        <input asp-for="MaxNightPrice" class="form-control" />
                        <span asp-validation-for="MaxNightPrice" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Balcony" /> @Html.DisplayNameFor(model => model.Balcony)
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="PrivateBathroom" /> @Html.DisplayNameFor(model => model.PrivateBathroom)
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Kitchen" /> @Html.DisplayNameFor(model => model.Kitchen)
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Tv" /> @Html.DisplayNameFor(model => model.Tv)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.Hotels != null && Model.Hotels.Any())
{
    foreach (var hotel in Model.Hotels)
    {
        <div class="row">
            <div class="col">
                @hotel.Name
            </div>
        </div>
    }
}
else if(Model.Hotels != null && Model.Hotels.Count == 0)
{
<div class="row">
    <div class="col">
        <div class="alert alert-warning">
            Apartments not found. Please change your search details.
        </div>
    </div>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
