@model IEnumerable<BookingApplication.Models.HotelPhoto>

@{
    ViewData["Title"] = "Photos";
}

<h1 class="text-white">@Model.FirstOrDefault()?.Hotel.Name</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["hid"]">Create New</a>
</p>
<table class="table bg-light rounded">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img class="img-fluid" src="@item.Photo" title="@item.Title" alt="@item.Title" />
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
